cffi==1.16.0
cryptography==40.0.1
gunicorn==21.2.0
Flask==3.0.0
Flask-Cors==4.0.0
requests==2.31.0
PyMySQL==1.1.0

exceptiongroup==1.0.4
importlib-metadata==6.2.0
importlib-resources==6.1.1
networkx==3.2.1
numpy==1.23.5
schedule==1.2.1
urllib3==2.1.0
urllib3-secure-extra==0.1.0
webencodings==0.5.1
websocket-client==1.6.3
websockets==11.0.3